html {
  color: #171717;
  background: #eee;

  font-family: 'Kurale', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  position: relative;
}

body::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100vw;
  height: 200px;

  content: '';

  background: inherit;
  background: linear-gradient(rgba(98, 188, 78, 1), #eee);
}
