html {
  color: #171717;
  background: #eee;

  font-family: 'Kurale', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  position: relative;
}

body::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100vw;
  height: 200px;

  content: '';

  background: inherit;
  background: linear-gradient(rgba(98, 188, 78, 1), #eee);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 0;

  text-align: center;

  font-family: 'Neucha', cursive;
}

.main-header__title {
  display: inline-block;

  margin: 0;

  font-size: 2.25rem;
  line-height: 1.1;
}

.main-header__tagline {
  margin: 0;

  font-size: 1.125em;
}

.main-header__logo {
  display: inline-block;

  width: 4rem;
  margin: 0 0.5rem;

  transition: transform 0.75s ease-in-out;
}

@media (max-width: 40rem) {
  .main-header__title {
    font-size: 2rem;
  }
  .main-header__logo {
    width: 3.5rem;
    margin: 0 0.5rem 0 0;
  }
}

.main-header__logo:hover {
  transform: rotateZ(360deg);
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 0;

  color: #666;

  font-size: 0.75rem;
}

.gallery {
  margin: 1rem 0;
}

.loading {
  width: 5rem;
  height: 5rem;
  margin: 1rem;

  animation: spin 1s infinite linear;

  border: solid 0.5rem rgba(98, 188, 78, 1);
  border-bottom-color: #fff;
  border-radius: 50%;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.load-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 6rem;
  height: 6rem;
  margin: 1rem;

  cursor: pointer;

  color: #000;
  border: solid 0.5rem rgba(98, 188, 78, 1);
  border-bottom-color: #fff;
  border-radius: 50%;
  background: rgba(98, 188, 78, 1);
  box-shadow: 0 0 6px #aaa;

  font-family: 'Kurale', Helvetica, Arial, sans-serif;
}

.load-btn:hover {
  box-shadow: 0 0 3px #aaa;
}
